# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db

# Virtual Environment
venv/
env/
.venv/

# Jupyter
.ipynb_checkpoints/

# Data
data/tmdb_movies.csv

# Environment
.env

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

*.csv
data/

